{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <div class="movie-detail">
        <img src="{{ movie.poster_image }}" alt="{{ movie.title }}">
        <div class="movie-detail-content">
            <h1>{{ movie.title }}</h1>
            <p>
                {% for genre in movie.genre.all %}
                    <span style="font-weight: bold">{{ genre.name }}</span>
                {% endfor %}
            </p>
            <p>{{ movie.description }}</p>
            
            <h2>Showtimes</h2>
            {% if showtimes %}
            <ul>
                {% for showtime in showtimes %}
                    <li>
                        {{ showtime.formatted_start_time }} - 
                        {% if user.is_authenticated %}
                            <a href="{% url 'reservation_form' showtime.id %}">Reserve a Seat</a>
                        {% else %}
                            <a href="{% url 'login' %}?next={% url 'reservation_form' showtime.id %}">Log in to Reserve</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>Currently, there are no showtimes available for this movie :(</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
