{% extends "base.html" %}

{% block title %}My Reservations{% endblock %}

{% block content %}
<div class="user-reservations-container">
    <h1>My Reservations</h1>
    {% if reservations %}
        <div class="reservation-list">
            {% for reservation in reservations %}
                <div class="reservation-item">
                    <img src="{{ reservation.seat.showtime.movie.poster_image }}" alt="{{ reservation.seat.showtime.movie.title }}" class="movie-poster">
                    <div class="reservation-details">
                        <h2>{{ reservation.seat.showtime.movie.title }}</h2>
                        <p>Date: {{ reservation.seat.showtime.formatted_start_time }}</p>
                        <p>Seat: {{ reservation.seat.seat_number }}</p>
                        <p>Reserved on: {{ reservation.formatted_reservation_time }}</p>
                        {% if reservation.is_upcoming %}
                            <form method="post" action="{% url 'cancel_reservation' reservation.id %}">
                                {% csrf_token %}
                                <button type="submit" class="cancel-button">Cancel Reservation</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You don't have any reservations yet.</p>
    {% endif %}
</div>
{% endblock %}